<ul class="cbp_tmtimeline">
    {% for project in projects | reverse %}

        {# get from involvement_duration months of involvement #}
            {#{% set involvement_duration_month = 0 %}#}
            {#{% for x in range(project.involvement_duration.start|date('U'), project.involvement_duration.finish|date('U'), 86400 ) %}#}
                {#{% set involvement_duration_month = involvement_duration_month + 1 %}#}
            {#{% endfor %}#}
        {# /get from involvement_duration months of involvement #}

        <li>
            <time class="cbp_tmtime">
                <span>
                    {{ project.involvement_duration.start | date("m/y") }}
                </span>
            </time>
            <div class="cbp_tmicon cbp_tmicon-phone"></div>
            <div class="cbp_tmlabel">
                <h2>{{ project.title }}</h2>
                <p>{{ project.responsibilities }}</p>
                <dl>
                    <dt>{{ locale.role }}:</dt>
                    <dd class="role">
                        {% for role in project.role %}
                            {{ role }}
                            {% if loop.index != loop.length %} / {% endif %}
                        {% endfor %}
                    </dd>
                    <dt>{{ locale.realization }}:</dt>
                    <dd>
                        <div class="faw">
                            {% for realization in project.realization %}
                                <i title="{{ realization }}" class="fa fa-{{ realization }}"></i>
                            {% endfor %}
                        </div>
                    </dd>
                    <dt>{{ locale.technologies }}:</dt>
                    <dd class="web-tech">
                        {% for technologies in project.technologies %}
                            {{ technologies }}
                            {% if loop.index != loop.length %} / {% endif %}
                        {% endfor %}
                    </dd>
                    <dt class="">{{ locale.team_size }}:</dt>
                    <dd class="text">{{ project.team_size}}</dd>
                </dl>
                <ul class="buttons clearfix">
                    <li><a href="#details" class="btn detail">{{ locale.more }}</a></li>
                    {% if project.img.length %}
                        <li>
                            <a data-lightbox="roadtrip-{{ project.id }}" href="/img/projects/{{ project.img[0] }}" class="btn images">{{ locale.see }}</a>
                            {% if project.img.length > 1 %}
                                <div class="hidden">
                                    {% for src in project.img %}
                                        {% if loop.index > 1 %}
                                            <a data-lightbox="roadtrip-{{ project.id }}" class="lightbox" href="/img/projects/{{ src }}">{{ src }}</a>
                                        {% endif %}
                                    {% endfor %}s
                                </div>
                            {% endif %}
                        </li>
                    {% endif %}
                    {% if project.link %}
                        <li><a href="{{ project.link }}" class="btn link" target="_blank">{{ locale.link }}</a></li>
                    {% endif %}
                </ul>
                <dl class="details hidden">
                    <dt class="">{{ locale.description }}:</dt>
                    <dd class="text">{{ project.description }}</dd>
                    <dt class="">{{ locale.customer }}:</dt>
                    <dd class="text">{{ project.customer | capitalize }}</dd>
                    <dt class="">{{ locale.tools }}:</dt>
                    <dd class="text">
                        {% for tools in project.tools %}
                            {{ tools }}
                            {% if loop.index != loop.length %} / {% endif %}
                        {% endfor %}
                    </dd>
                </dl>
            </div>
        </li>
    {% endfor %}
</ul>