<ul class="cbp_tmtimeline">
    {% for project in projects | reverse %}
        <li>
            <time class="cbp_tmtime">
                <span>
                    {{ project.involvement_duration.start | date("m/y") }}
                </span>
            </time>
            <div class="cbp_tmicon cbp_tmicon-phone"></div>
            <div class="cbp_tmlabel">
                <h2>{{ project.title }}</h2>
                <p>{{ project.responsibilities }}</p>
                <dl>
                    <dt>роль:</dt>
                    <dd class="role">
                        {% for role in project.role %}
                            {{ role }}
                            {% if loop.index != loop.length %} / {% endif %}
                        {% endfor %}
                    </dd>
                    <dt>реализация:</dt>
                    <dd>
                        <div class="faw">
                            {% for realization in project.realization %}
                                <i title="{{ realization }}" class="fa fa-{{ realization }}"></i>
                            {% endfor %}
                        </div>
                    </dd>
                    <dt>технологии:</dt>
                    <dd class="web-tech">
                        {% for technologies in project.technologies %}
                            {{ technologies }}
                            {% if loop.index != loop.length %} / {% endif %}
                        {% endfor %}
                    </dd>
                </dl>
                <ul class="buttons clearfix">
                    <li><a href="#details" class="btn detail">Ещё инфо</a></li>
                    {% if project.img.length %}
                        <li>
                            <a data-lightbox="roadtrip-{{ project.id }}" href="/img/projects/project_{{ project.id }}-1.jpg" class="btn images">Смотреть</a>
                            {% if project.img.length > 1 %}
                                <div class="hidden">
                                    {% for src in project.img %}
                                        {% if loop.index > 1 %}
                                            <a data-lightbox="roadtrip-{{ project.id }}" class="lightbox" href="/img/projects/{{ src }}">{{ src }}</a>
                                        {% endif %}
                                    {% endfor %}s
                                </div>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
                <dl class="details hidden">
                    <dt class="">Описание:</dt>
                    <dd class="text">{{ project.description }}</dd>
                    <dt class="">Заказчик:</dt>
                    <dd class="text">{{ project.customer | capitalize }}</dd>
                    <dt class="">Инструменты:</dt>
                    <dd class="text">
                        {% for tools in project.tools %}
                            {{ tools }}
                            {% if loop.index != loop.length %} / {% endif %}
                        {% endfor %}
                    </dd>
                </dl>
            </div>
        </li>
    {% endfor %}
</ul>